<div class="wrapper">
<div class="about-section">
<p class="intro"><%= t('intro_html') %></p>
<p class="title"><%= t('title_html') %></p>
<p class="steps"><%= t('steps_html') %></p>
<p class="cloture"><%= t('cloture_html') %></p>
<p class="faq"><%= t('faq_html') %></p>
</div>
<div class="back-link">
<%= link_to t('back') , root_path %>
</div>
</div>
